<!DOCTYPE html>
<html  lang="en">

<head>
    <meta charset="UTF-8">
    <title>View results</title>
</head>

<body>

    <h2>Registros</h2>

    <table border="1">
        <thead>
            <tr>
                <td>Nome</td>
                <td>Sobrenome</td>
                <td>Action</td>
            </tr>
        </thead>

        <tbody>
            <% data.forEach(function(details) { %>
                <tr>
                    <td><%= details.masterData.name %></td>
                    <td><%= details.masterData.surname %></td>
                    <td><a href="/edit/<%= details._id %>">Editar</a> - <a href="/delete/<%= details._id %>">Delete</a></td>
                </tr>
            <% }) %>
        </tbody>
        </table>
        <button><a href="/">Inserir novo dado</a></button>
</body>
</html>